@charset "utf-8";

@media print, screen and (min-width: 768px){

/* --------------------
All
-------------------- */
body {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic pro","メイリオ","MS PGothic";
}

a,a:link{
    text-decoration:none;
}

a img {
    transition: all .3s;
}

a img:hover{
    opacity: 0.7;
}

.content {
	width: 100%;
    position: relative;
}

.content_middle {
    width: 920px;
    margin: 0 auto;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

img {
	width: 100%;
}

.sp {
	display: none !important;
}

/* --------------------
Header
-------------------- */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: url(../img/h_backshadow.png);
}

.h_inner {
    padding: 23px 0;
    position: relative;
}

#header .h_logo {
    width: 100%;
    height: 34px;
}

#header .h_logo a {
    position: absolute;
    display: block;
    width: 145px;
    height: 80px;
    padding: 24px 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#header .h_insta a {
    position: absolute;
    width: 54px;
    height: 80px;
    padding: 23px 10px;
    top: 0;
    right: 0;
    margin: auto;
}

/* --------------------
Mainvisual
-------------------- */
#mainvis {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.triangle_backimg {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/main_backimg.svg) no-repeat;
    background-size: auto;
    background-position: bottom 0 left 0;
    z-index: 10;
}

/*
#mainvis:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/main_backimg.svg) no-repeat;
    background-size: auto;
    background-position: bottom 0 left 0;
    z-index: 10;
}
*/

#mainvis:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../img/main_backshadow.png);
    content: '';
}

.main_visual {
    position: relative;
    width: 100%;
    height: 100%;
}

#mainvis_sp {
    width: 500px;
    height: 342px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

#mainvis_sp02 {
    width:100%;
    margin:0 auto;
    overflow: hidden;  
    height: auto; 
}

#mainvis_sp02 h2 {
    text-align:center;
    font-weight:bold;
    font-size:360%;
    color:#fff;
    line-height:1.4;
}

.swiper-slide {
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.mainvis_img001 {
    background-image: url(../img/slide_img001.jpg);
}

.mainvis_img002 {
    background-image: url(../img/slide_img002.jpg);
}

.mainvis_img003 {
    background-image: url(../img/slide_img003.jpg);
}

.mainvis_img004 {
    background-image: url(../img/slide_img004.jpg);
}

.main_catch {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 20;
}

.main_catch_inner {
    position: relative;
}

.main_catch_bar {
    width: 60px;
    height: 6px;
    margin-bottom: 15px;
}

.main_catch_bar img {
    display: block;
    width: 60px;
    height: 6px;
}

.main_catch_inner h2 {
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fafafa;
}

.appstore_link {
    width: 161px;
    margin-top: 40px;
}

.btn_appstore_link a {
    display: block;
    width: 161px;
    height: 57px;
}

.btn_appstore_link img {
    width: 161px;
    height: 57px;
}

.appstore_link span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #17E0DA;
    background: -webkit-linear-gradient(360deg, #17E0DA, #55AEFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8px;
}

/* --------------------
About
-------------------- */
.about_section {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 20;
}

.about_section_inner {
    padding: 80px 0 0;
}

.about_section .title {
}

.about_section .title_bar {
    width: 48px;
    height: 5px;
    margin-bottom: 25px;
}

.about_section .title_bar img {
    display: block;
    width: 48px;
    height: 5px;
}

.about_section .title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #005276;
    line-height: 48px;
    letter-spacing: 2.3px;
    margin-bottom: 48px;
}

.about_text_block {
}

.about_text_block p {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #005276;
    line-height: 48px;
    letter-spacing: 2.3px;
    margin-bottom: 48px;
}

.about_text_block p:last-child {
    margin-bottom: 0;
}

/* --------------------
Mockup
-------------------- */
.mockup_section {
    width: 100%;
    position: relative;
    overflow: hidden;
    /*padding: 110px 0 200px;*/
    padding: 110px 0; /* Googleフォームver.用 */
    background-color: #fafafa;
    z-index: 10;
}

.mockup_section:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 277px;
    background: #fff;
    transform: skew(0, 6.34deg);
    top: -120px;
    z-index: 20;
}

.mockup_section_inner {
    position: relative;
    z-index: 30;
}

.mockup_step {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.mockup_step_box {
    width: calc((100% - 80px)/3);
}

.mockup_step .img_box {
    position: relative;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 40px;
}

.mockup_step .img_box .mockup_img {
    text-align: center;
    height: 360px;
    width: auto;
}

.mockup_step .img_box .mockup_img img {
    height: 360px;
    width: auto;
}

.mockup_step .img_box .mockup_icon {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 96px;
    width: 96px;
    z-index: 2;
}

.mockup_step .img_box .mockup_icon img {
    height: 96px;
    width: 96px;
}

.mockup_step .text_box .title_bar {
    height: 3px;
    width: 32px;
    margin-bottom: 12px;
}

.mockup_step .text_box .title_bar img {
    display: block;
    height: 3px;
    width: 32px;
}

.mockup_step .text_box .title {
    font-size: 18px;
    font-weight: bold;
    color: #005276;
    line-height: 1;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.mockup_step .text_box .text p {
    font-size: 14px;
    color: #005276;
    line-height: 28px;
    letter-spacing: 0;
}

/* --------------------
Form
-------------------- */
.form_section {
    height: 1449px;
    background-color: rgb(240, 238, 235);
}

.form_section iframe {
    position: relative;
    z-index: 150;
}

/* --------------------
Footer
-------------------- */
#footer {
    text-align: center;
    /*background-color: #fafafa;*/
    background-color: rgb(240, 238, 235); /* Googleフォームver.用 */
    position: relative;
    z-index: 60;
}

.footer_inner {
    width: 100%;
    position: relative;
    z-index: 20;
    background-color: #ECF0F1;
    padding: 0 0 40px;
}

.footer_inner:before {
    content: '';
    position: absolute;
    left: 0;
    top: -424px;
    height: 100%;
    width: 100%;
    background: url(../img/f_backimg.svg) no-repeat;
    background-size: auto;
    background-position: bottom 0 left 0;
    z-index: 10;
}

.f_logo {
    width: 145px;
    height: 32px;
    margin: 0 auto 32px;
}

.f_logo a {
    display: block;
    width: 145px;
    height: 32px;
}

.f_appstore_link {
    width: 161px;
    margin: 0 auto 31px;
}

.btn_f_appstore_link a {
    display: block;
    width: 161px;
    height: 57px;
}

.btn_f_appstore_link img {
    width: 161px;
    height: 57px;
}

.f_appstore_link span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #B3C4C6;
    letter-spacing: 0;
    margin-top: 8px;
}

.f_insta {
    display: block;
    margin: 0 auto 31px;
}

.f_insta a {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto 15px;
}

.f_insta a img {
    height: 50px;
    width: 50px;
}

.f_insta span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #005276;
    letter-spacing: 1px;
}

.outside_link {
    margin: 64px 0 16px;
}

.outside_link ul li {
    display: inline-block;
    margin-right: 40px;
}

.outside_link ul li:last-child {
    margin-right: 0;
}

.outside_link ul li a {
    display: block;
    font-size: 12px;
    color: #005276;
    letter-spacing: 1;
}

.copyright p{
    font-size: 12px;
    color: #B3C4C6;
    letter-spacing: 0.9px;
}

/* --------------------
Other
-------------------- */
.h_logo a:hover,
.f_logo a:hover {
    cursor: default;
}

.h_logo a img:hover,
.f_logo a img:hover {
    opacity: 1;
}


/* --------------------
リリース後に追加するクラス
-------------------- *
.footer_inner:before {
    top: -398px;
}


/* --------------------
リリース後に消すクラス
-------------------- */
.appstore_link a:hover,
.f_appstore_link a:hover {
    cursor: default;
}

.appstore_link a img:hover,
.f_appstore_link a img:hover {
    opacity: 1;
}

}